@using System
@using System.Net
@using MiningCore.Models
@using MiningCore.Utils
@using MiningCore
@using Microsoft.AspNetCore.Http.Extensions
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Routing
@using Microsoft.Extensions.Options

@inject WebpackStatsProvider webpackStatsProvider;
@inject IOptions<AppConfig> appConfig

<!DOCTYPE html>
<html lang="en" class="no-js pre-init">
<head>
    @RenderSection("headfront", false)

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    @{ var ambientData = (AmbientData)ViewData["Ambient"];}

    @{ var pageTitle = !string.IsNullOrEmpty(ambientData.PageTitleFull) ? ambientData.PageTitleFull : (!string.IsNullOrEmpty(ambientData.PageTitle) ? ambientData.PageTitle + " - " + appConfig.Value.PoolName : (appConfig.Value.PoolName + " | " + appConfig.Value.PoolDescription));}
    @{ var pageTitleSimple = !string.IsNullOrEmpty(ambientData.PageTitleFull) ? ambientData.PageTitleFull : (!string.IsNullOrEmpty(ambientData.PageTitle) ? ambientData.PageTitle : appConfig.Value.PoolName);}
    <title>@pageTitle</title>

    <meta property="og:title" content="@pageTitle" />
    <meta name="twitter:card" content="@appConfig.Value.PoolName">
    
    @if (ambientData.PageMetaKeywords != null && ambientData.PageMetaKeywords.Length > 0)
    {
        <meta name="keywords" content="@string.Join(", ", ambientData.PageMetaKeywords)" />
    }

    @if (!string.IsNullOrEmpty(ambientData.PageDescription))
    {
        <meta name="description" content="@(HttpUtils.Newlines2Spaces(ambientData.PageDescription))" />
        <meta name="og:description" content="@(HttpUtils.Newlines2Spaces(ambientData.PageDescription))" />
        <meta itemprop="description" content="@(HttpUtils.Newlines2Spaces(ambientData.PageDescription))">
        <meta name="twitter:description" content="@(HttpUtils.Newlines2Spaces(ambientData.PageDescription))">
    }

    else
    {
        <meta name="description" content="@(appConfig.Value.PoolName + " | " + appConfig.Value.PoolDescription)" />
        <meta name="og:description" content="@(appConfig.Value.PoolName + " | " + appConfig.Value.PoolDescription)" />
        <meta itemprop="description" content="@(appConfig.Value.PoolName + " | " + appConfig.Value.PoolDescription)">
        <meta name="twitter:description" content="@(appConfig.Value.PoolName + " | " + appConfig.Value.PoolDescription)">
    }

    <environment names="Production">
        <link rel="stylesheet" href="~/build/head.css" asp-append-version="true" />
    </environment>

    @RenderSection("head", false)

    <link rel="apple-touch-icon" sizes="114x114" href="~/img/ios/logo114x114.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="~/img/ios/logo57x57.png" />
    <link rel="apple-touch-icon" href="~/img/ios/logo57x57.png" />

    <meta name="mobile-web-app-capable" content="yes">
    <meta name="msapplication-TileImage" content="~/img/windows/logo144x144.png">
    <meta name="msapplication-TileColor" content="#3372DF">
    
    <meta itemprop="name" content="MiningCore">
    <meta itemprop="image" content="~/img/ios/logo114x114.png">
    
    <script type="application/ld+json">
    {
        "@@context": "http://schema.org",
        "@@type": "Organization",
        "name": "@appConfig.Value.PoolName",
        "url": "@($"{Context.Request.Scheme}://{Context.Request.Host}{Context.Request.Path}{Context.Request.QueryString}")",
        "sameAs": [
            @if (!string.IsNullOrEmpty(appConfig.Value.TwitterUrl))
            {
                @:"@(appConfig.Value.TwitterUrl)",
            }
            @if (!string.IsNullOrEmpty(appConfig.Value.FacebookUrl))
            {
                @:"@(appConfig.Value.FacebookUrl)",
            }
        ]
    }
    </script>

    <script src="~/build/head.js" asp-append-version="true"></script>
</head>
<body>
    <div class="container outer-wrapper @(ViewData["outer-wrapper-class"] ?? "")">
        <div class="inner-wrapper">
            <nav class="navbar navbar-nav is-sticky @(ViewData["topbar-class"] ?? "dark")" data-topbar role="navigation">
                <div class="wrapper">
                    <button class="navbar-toggler hidden-md-up" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"></button>
                    <div class="collapse navbar-toggleable-sm" id="navbarResponsive">
                        <ul class="nav navbar-nav float-lg-right float-md-right">
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Pool" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Pool" asp-action="Faq">FAQ</a>
                            </li>
                            @if (!string.IsNullOrEmpty(appConfig.Value.TwitterUrl) || !string.IsNullOrEmpty(appConfig.Value.FacebookUrl))
                            {
                                <li class="nav-item hidden-sm-down"><span class="nav-link">|</span></li>
                            }
                            @if (!string.IsNullOrEmpty(appConfig.Value.TwitterUrl))
                            {
                                <li class="nav-item">
                                    <a class="nav-link social hidden-sm-down" title="@(appConfig.Value.PoolName) on Twitter" href="@(appConfig.Value.TwitterUrl)"><i class="fa fa-twitter"></i></a>
                                </li>
                            }
                            @if (!string.IsNullOrEmpty(appConfig.Value.FacebookUrl))
                            {
                                <li class="nav-item">
                                    <a class="nav-link social hidden-sm-down" title="@(appConfig.Value.PoolName) on Facebook" href="@(appConfig.Value.FacebookUrl)"><i class="fa fa-facebook"></i></a>
                                </li>
                            }
                        </ul>
                    </div>                    
                </div>
            </nav>
            
            @RenderBody()
        </div>
        
        <div id="noscript" class="sorry">
            <div class="wrapper">
                <h5>:(</h5>
                <p>@Html.Raw(appConfig.Value.NoScriptWarning)</p>
            </div>
        </div>

        <div id="upgradeBrowser" class="sorry" style="display: none">
            <h5>:(</h5>
            <p>@Html.Raw(appConfig.Value.NoCompatibleBrowserWarning)</p>
        </div>

        <footer>
            <div class="row">
                <div class="col-xs-6 col-sm-4">
                    <ul class="nav">
                        <li class="nav-item"><a class="nav-link" asp-controller="Home" asp-action="Faq">FAQ</a></li>
                        @if (!string.IsNullOrEmpty(appConfig.Value.SupportEmail))
                        {
                            <li class="nav-item"><a class="nav-link" href="mailto:@(appConfig.Value.SupportEmail)">Contact</a></li>
                        }
                        @if (!string.IsNullOrEmpty(appConfig.Value.TwitterUrl))
                        {
                            <li class="nav-item"><a class="nav-link" href="@(appConfig.Value.TwitterUrl)">Twitter</a></li>
                        }
                        @if (!string.IsNullOrEmpty(appConfig.Value.FacebookUrl))
                        {
                            <li class="nav-item"><a class="nav-link" href="@(appConfig.Value.FacebookUrl)">Facebook</a></li>
                        }
                    </ul>
                </div>
                <div class="col-xs-6 col-sm-4">

                </div>
                <div class="col-xs-6 col-sm-4">

                </div>
            </div>
            <div class="row small-up-1">
                <span class="copyright columns">© @(DateTime.UtcNow.Year), @(appConfig.Value.PoolName)</span>
            </div>
        </footer>
    </div>

    <script type="text/javascript">
        window.cookieconsent_options = { "message": "@appConfig.Value.CookieWarning", "dismiss": "Got it", "learnMore": "More info", "link": null, "theme": "light-top" };
    </script>

    <script src="~/build/main.js" asp-append-version="true"></script>

    <environment names="Production">
        <script>
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

            ga('create', '@appConfig.Value.GoogleAnalyticsUA', 'auto');
            ga('send', 'pageview');
        </script>
    </environment>

    <div id="social-mobile" class="hidden-sm-up social-buttons mobile">
        <table>
            <tbody>
                <tr>
                    <td><a class="social-button twitter" title="Twitter" target="_blank" href="http://twitter.com/share?url=@(WebUtility.UrlEncode(Context.Request.GetEncodedUrl()))"><i class="fa fa-twitter"></i></a></td>
                    <td><a class="social-button facebook" title="Facebook" target="_blank" href="http://www.facebook.com/sharer/sharer.php?u=@(WebUtility.UrlEncode(Context.Request.GetEncodedUrl()))"><i class="fa fa-facebook"></i></a></td>
                </tr>
            </tbody>
        </table>
    </div>

    @RenderSection("Scripts", required: false)
</body>
</html>
